# 0. Hello, Python! (Basic Data Types)

This is a Python refresher notebook. It covers the basic data types in Python.

In [3]:
# --- Numeric Types ---
# Integer
a = 5
b = 3
print (a)

5

In [4]:
print ("integer", b)

integer 3

In [5]:
print (f"integer {a}")

integer 5

In [6]:
3
print("Integer:{num}")
# Float
a=9.9
print (a)

Integer:{num}
9.9

In [8]:
# Float
a= 9.9
print ("integer", a)

integer 9.9

In [9]:
# Float
c= 3.33
print (f"float:{c}")

float:3.33

In [3]:
decimal= 10.33333
print (f"float:{decimal}")

float:10.33333

In [17]:
# Complex
b = 2+5j
print("complex", b)

complex (2+5j)

In [18]:

# --- String and Character ---
# String
string1="hi"
string2="bye"
print(string1,string2)

hi bye

In [32]:
coco = string1 +" "+ string2
print(coco)
len(coco)
string1[1]

hi bye

'i'

In [23]:
first_char =string1[1]

In [28]:
string2[-1]
string2[0:2]
string1.upper()

'HI'

In [29]:
if "tie" in coco:
    print("yesssss")
else:
    print("nooooooooooo")

nooooooooooo

In [53]:
cocoN=coco.replace("bye" ,"python")
print(cocoN)

hi python

In [36]:
cocoN1=cocoN.split(" ")
print(cocoN1)

['hi', 'python']

In [34]:
cocoN7="@".join(cocoN)
print(cocoN7)

h@i@ @p@y@t@h@o@n

In [37]:
cocoN2="--".join(cocoN1)
print(cocoN2)

hi--python

In [38]:
cocoN3= string1*5
print(cocoN3)

hihihihihi

In [39]:
# Character (In Python, a single character is just a string of length 1)


# --- Boolean ---
# Boolean values
x=10
y=20
print(x==y)

False

In [40]:
x=5
y=5
print(x==y)

True

In [41]:
x=5*4
y=5*4
print(x==y)

True

In [1]:
class Food:
    def __init__(self, name='apple', color='red', size=0, price=0):
        self.name = name
        self.color = color
        self.size = size
        self.price = price
        self.quantity = 1
    
    def printinfo(self):
        if self.name == '':
            print("I'm nothing")
        else:
            print(f"I am a {self.name}.")

In [2]:
f1 = Food()
f2 = Food('banana')
f3 = Food('orange','orange')
f4 = Food('grape',size =3)
f5 = Food('pear', 3)

In [44]:
# --- Arrays (Lists) ---
# List
array=[1,2,3,4,5,6,7]
array[2]=10
print(array)

[1, 2, 10, 4, 5, 6, 7]

In [50]:
print(f"array1{array}")

array1[1, 2, 10, 4, 5, 6, 7]

In [51]:
print("array1",array)

array1 [1, 2, 10, 4, 5, 6, 7]

In [59]:
array=[ 10,20,30,40,50]
array.append(60)
print(array)

[10, 20, 30, 40, 50, 60]

In [60]:
array.append(70)
print(array)

[10, 20, 30, 40, 50, 60, 70]

In [61]:
array.insert(6,61)
print(array)

[10, 20, 30, 40, 50, 60, 61, 70]

In [ ]:


# Adding to a list


# --- Objects (using classes) ---
class student 
     def _init_(self,name,id):
        self.name = name
        self.id = id

        def greet (  self):
            print (f"hello, i'm {self.name} and my id is {self id}")
 # Create an object of the Person class
s1 = Student( "sumitra", 202227

In [18]:
f5.price

0

In [ ]:
342)

# --- Type Conversion ---
# Convert integer to float


# Convert float to integer (truncates the decimal part)


# Convert boolean to integer


# --- Type Checking ---

# 1. Hello, World! (First Program)

This is a simple introduction to Python syntax and the print() function.

In [ ]:
# Basic "Hello, World!" example

# 2. Basic Math Operations

Introduce variables and arithmetic operators.

In [ ]:
# Simple math operations


# Addition

# Subtraction

# Multiplication

# Division

# 3. Getting User Input

Demonstrates how to interact with the user via input().

In [19]:
# Getting user input and using it
name = input("what is your name?>>>")
print("hello" +"name+" "!")


# Working with numbers
age = input ("How old are you?>>>") #string
print("Next year, you will be" + str(int(age)+ 1 ) "!")

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (361560268.py, line 8)

# 4. If Statements (Conditionals)

Introduce the concept of decision-making using if, else, and elif.

In [22]:
# Basic if-else example
number = int(input("Enter a number:>>>"))
if number > 0:
    print("you are positive!")
elif number % 2 ==0:
    print("you are even!")
else:
    print("you are odd!")
    else:
print("you are negative!")

SyntaxError: invalid syntax (2293390364.py, line 9)

# 5. For Loop (Iteration)

A basic introduction to loops with a for loop that repeats a certain number of times.

In [ ]:
# Basic for loop example

# 6. While Loop (Iteration with Condition)

Demonstrates a loop that runs until a condition is met.

In [3]:
# Basic while loop example
# Basic while loop example
count = 0  # Start point

while count < 5:  # End point condition
    print("Count is:", count)
    count += 1  # Increment to avoid infinite loop

#for loops need:
# 1.start point
# 2.end point
#

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

# 7. Basic Function Example

Introducing how to write and call functions.

In [ ]:
# Function to greet the user

# 8. Simple Temperature Converter

Combines input, conditionals, and functions in a real-world example.

In [ ]:
# Function to convert Celsius to Fahrenheit


# Get temperature from user

# 9. Simple Guessing Game

A fun exercise that involves loops, conditionals, and randomness.

In [ ]:

# Generate a random number between 1 and 10


# Keep asking the user until they guess correctly

# 10. FizzBuzz (Classic Example)

A popular coding challenge that helps beginners practice conditionals and loops.

**Problem Statement:**

Print numbers from 1 to n, where n is a positive integer. For each number:

- Print "Fizz" if the number is divisible by 3.
- Print "Buzz" if the number is divisible by 5.
- Print "FizzBuzz" if the number is divisible by both 3 and 5.
- Print the number itself if it is not divisible by either 3 or 5.

In [ ]:
# FizzBuzz example

# Bonus: Recursive Fibonacci Function

A more advanced example that demonstrates recursion.

In [ ]:
def fibonacci(n):
    # Base cases

        # Recursive case: F(n) = F(n-1) + F(n-2)
        

# Example usage